html {
  position: relative;
  min-height: 100%;
}

html,body{
  margin:0px;
}

body {
  height: 100%; 
  min-height: 100%; 
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 85px;
}

.form {
  margin-top: 40px;
  font-size: 1.2em;
}

.form-footer {
  margin-top: 10%;
}

.form-footer a {
  color: #96969A !important;
}

.margin-top {
  margin-top: 10%;
}